*{
	font-family: 'Londrina Solid', cursive;
}

body { font: 13px Helvetica, Arial; }

.entryMessage{
	color: red;
}

.userMessage{
	color: blue;
}

#waitingRoom{
	padding-top:5%;
	padding-bottom:5%;
}

.nameSubtitle{
	font-size:12px;
}

.constantText{
	padding-left:15%; 
	font-size: 14px; 
	font-family: 'Londrina Solid', cursive; float;left; 
	margin-bottom:2px;
}